/* http://meyerweb.com/eric/tools/css/reset/ 
  v2.0 | 20110126
  License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
::before,
::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: Sora, "sans-serif";
  background: var(--body-bg);
  color: var(--text-color);
  line-height: normal;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
  outline: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
}

button {
  font-family: inherit;
  color: inherit;
}

.icon {
  filter: var(--icon-color);
}

input {
  margin: 0;
}

button,
textarea,
input,
select,
a {
  -webkit-tap-highlight-color: transparent;
}

.row > *, .container-fluid, .container {
  padding-left: calc(var(--grid-gutter-x) * 0.5);
  padding-right: calc(var(--grid-gutter-x) * 0.5);
}

.container-fluid, .container {
  --grid-gutter-x: 30px;
  --grid-gutter-y: 0;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.container {
  width: 1320px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--grid-gutter-y) * -1);
  margin-left: calc(var(--grid-gutter-x) * 0.5 * -1);
  margin-right: calc(var(--grid-gutter-x) * 0.5 * -1);
}
.row > * {
  margin-top: var(--grid-gutter-y);
}

.col {
  flex: 1 0;
}

.row-cols-1 > * {
  flex: 0 0 auto;
  width: 100%;
}

.row-cols-2 > * {
  flex: 0 0 auto;
  width: 50%;
}

.row-cols-3 > * {
  flex: 0 0 auto;
  width: 33.3333333333%;
}

.row-cols-4 > * {
  flex: 0 0 auto;
  width: 25%;
}

.row-cols-5 > * {
  flex: 0 0 auto;
  width: 20%;
}

.row-cols-6 > * {
  flex: 0 0 auto;
  width: 16.6666666667%;
}

.col-1 {
  flex: 0 0 auto;
  width: 8.3333333333%;
}

.col-2 {
  flex: 0 0 auto;
  width: 16.6666666667%;
}

.col-3 {
  flex: 0 0 auto;
  width: 25%;
}

.col-4 {
  flex: 0 0 auto;
  width: 33.3333333333%;
}

.col-5 {
  flex: 0 0 auto;
  width: 41.6666666667%;
}

.col-6 {
  flex: 0 0 auto;
  width: 50%;
}

.col-7 {
  flex: 0 0 auto;
  width: 58.3333333333%;
}

.col-8 {
  flex: 0 0 auto;
  width: 66.6666666667%;
}

.col-9 {
  flex: 0 0 auto;
  width: 75%;
}

.col-10 {
  flex: 0 0 auto;
  width: 83.3333333333%;
}

.col-11 {
  flex: 0 0 auto;
  width: 91.6666666667%;
}

.col-12 {
  flex: 0 0 auto;
  width: 100%;
}

.offset-0 {
  margin-left: 0;
}

.offset-1 {
  margin-left: 8.3333333333%;
}

.offset-2 {
  margin-left: 16.6666666667%;
}

.offset-3 {
  margin-left: 25%;
}

.offset-4 {
  margin-left: 33.3333333333%;
}

.offset-5 {
  margin-left: 41.6666666667%;
}

.offset-6 {
  margin-left: 50%;
}

.offset-7 {
  margin-left: 58.3333333333%;
}

.offset-8 {
  margin-left: 66.6666666667%;
}

.offset-9 {
  margin-left: 75%;
}

.offset-10 {
  margin-left: 83.3333333333%;
}

.offset-11 {
  margin-left: 91.6666666667%;
}

.g-0,
.gx-0 {
  --grid-gutter-x: 0px;
}

.g-0,
.gy-0 {
  --grid-gutter-y: 0px;
}

.g-1,
.gx-1 {
  --grid-gutter-x: 7.5px;
}

.g-1,
.gy-1 {
  --grid-gutter-y: 7.5px;
}

.g-2,
.gx-2 {
  --grid-gutter-x: 15px;
}

.g-2,
.gy-2 {
  --grid-gutter-y: 15px;
}

.g-3,
.gx-3 {
  --grid-gutter-x: 30px;
}

.g-3,
.gy-3 {
  --grid-gutter-y: 30px;
}

.g-4,
.gx-4 {
  --grid-gutter-x: 45px;
}

.g-4,
.gy-4 {
  --grid-gutter-y: 45px;
}

.g-5,
.gx-5 {
  --grid-gutter-x: 90px;
}

.g-5,
.gy-5 {
  --grid-gutter-y: 90px;
}

@media (max-width: 1399.98px) {
  .container {
    max-width: 1170px;
  }
  .row-cols-xxl-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-xxl-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-xxl-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-xxl-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-xxl-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-xxl-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-xxl-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-xxl-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-xxl-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-xxl-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-xxl-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-xxl-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-xxl-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-xxl-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-xxl-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-xxl-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-xxl-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-xxl-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-xxl-0 {
    margin-left: 0;
  }
  .offset-xxl-1 {
    margin-left: 8.3333333333%;
  }
  .offset-xxl-2 {
    margin-left: 16.6666666667%;
  }
  .offset-xxl-3 {
    margin-left: 25%;
  }
  .offset-xxl-4 {
    margin-left: 33.3333333333%;
  }
  .offset-xxl-5 {
    margin-left: 41.6666666667%;
  }
  .offset-xxl-6 {
    margin-left: 50%;
  }
  .offset-xxl-7 {
    margin-left: 58.3333333333%;
  }
  .offset-xxl-8 {
    margin-left: 66.6666666667%;
  }
  .offset-xxl-9 {
    margin-left: 75%;
  }
  .offset-xxl-10 {
    margin-left: 83.3333333333%;
  }
  .offset-xxl-11 {
    margin-left: 91.6666666667%;
  }
  .g-xxl-0,
  .gx-xxl-0 {
    --grid-gutter-x: 0px;
  }
  .g-xxl-0,
  .gy-xxl-0 {
    --grid-gutter-y: 0px;
  }
  .g-xxl-1,
  .gx-xxl-1 {
    --grid-gutter-x: 7.5px;
  }
  .g-xxl-1,
  .gy-xxl-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-xxl-2,
  .gx-xxl-2 {
    --grid-gutter-x: 15px;
  }
  .g-xxl-2,
  .gy-xxl-2 {
    --grid-gutter-y: 15px;
  }
  .g-xxl-3,
  .gx-xxl-3 {
    --grid-gutter-x: 30px;
  }
  .g-xxl-3,
  .gy-xxl-3 {
    --grid-gutter-y: 30px;
  }
  .g-xxl-4,
  .gx-xxl-4 {
    --grid-gutter-x: 45px;
  }
  .g-xxl-4,
  .gy-xxl-4 {
    --grid-gutter-y: 45px;
  }
  .g-xxl-5,
  .gx-xxl-5 {
    --grid-gutter-x: 90px;
  }
  .g-xxl-5,
  .gy-xxl-5 {
    --grid-gutter-y: 90px;
  }
}
@media (max-width: 1199.98px) {
  .container {
    max-width: 960px;
  }
  .row-cols-xl-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-xl-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-xl-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-xl-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-xl-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-xl-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-xl-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-xl-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-xl-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-xl-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-xl-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-xl-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-xl-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-xl-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-xl-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-xl-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-xl-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-xl-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-xl-0 {
    margin-left: 0;
  }
  .offset-xl-1 {
    margin-left: 8.3333333333%;
  }
  .offset-xl-2 {
    margin-left: 16.6666666667%;
  }
  .offset-xl-3 {
    margin-left: 25%;
  }
  .offset-xl-4 {
    margin-left: 33.3333333333%;
  }
  .offset-xl-5 {
    margin-left: 41.6666666667%;
  }
  .offset-xl-6 {
    margin-left: 50%;
  }
  .offset-xl-7 {
    margin-left: 58.3333333333%;
  }
  .offset-xl-8 {
    margin-left: 66.6666666667%;
  }
  .offset-xl-9 {
    margin-left: 75%;
  }
  .offset-xl-10 {
    margin-left: 83.3333333333%;
  }
  .offset-xl-11 {
    margin-left: 91.6666666667%;
  }
  .g-xl-0,
  .gx-xl-0 {
    --grid-gutter-x: 0px;
  }
  .g-xl-0,
  .gy-xl-0 {
    --grid-gutter-y: 0px;
  }
  .g-xl-1,
  .gx-xl-1 {
    --grid-gutter-x: 7.5px;
  }
  .g-xl-1,
  .gy-xl-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-xl-2,
  .gx-xl-2 {
    --grid-gutter-x: 15px;
  }
  .g-xl-2,
  .gy-xl-2 {
    --grid-gutter-y: 15px;
  }
  .g-xl-3,
  .gx-xl-3 {
    --grid-gutter-x: 30px;
  }
  .g-xl-3,
  .gy-xl-3 {
    --grid-gutter-y: 30px;
  }
  .g-xl-4,
  .gx-xl-4 {
    --grid-gutter-x: 45px;
  }
  .g-xl-4,
  .gy-xl-4 {
    --grid-gutter-y: 45px;
  }
  .g-xl-5,
  .gx-xl-5 {
    --grid-gutter-x: 90px;
  }
  .g-xl-5,
  .gy-xl-5 {
    --grid-gutter-y: 90px;
  }
}
@media (max-width: 991.98px) {
  .container {
    max-width: 720px;
  }
  .row-cols-lg-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-lg-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-lg-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-lg-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-lg-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-lg-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-lg-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-lg-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-lg-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-lg-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-lg-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-lg-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-lg-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-lg-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-lg-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-lg-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-lg-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-lg-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-lg-0 {
    margin-left: 0;
  }
  .offset-lg-1 {
    margin-left: 8.3333333333%;
  }
  .offset-lg-2 {
    margin-left: 16.6666666667%;
  }
  .offset-lg-3 {
    margin-left: 25%;
  }
  .offset-lg-4 {
    margin-left: 33.3333333333%;
  }
  .offset-lg-5 {
    margin-left: 41.6666666667%;
  }
  .offset-lg-6 {
    margin-left: 50%;
  }
  .offset-lg-7 {
    margin-left: 58.3333333333%;
  }
  .offset-lg-8 {
    margin-left: 66.6666666667%;
  }
  .offset-lg-9 {
    margin-left: 75%;
  }
  .offset-lg-10 {
    margin-left: 83.3333333333%;
  }
  .offset-lg-11 {
    margin-left: 91.6666666667%;
  }
  .g-lg-0,
  .gx-lg-0 {
    --grid-gutter-x: 0px;
  }
  .g-lg-0,
  .gy-lg-0 {
    --grid-gutter-y: 0px;
  }
  .g-lg-1,
  .gx-lg-1 {
    --grid-gutter-x: 7.5px;
  }
  .g-lg-1,
  .gy-lg-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-lg-2,
  .gx-lg-2 {
    --grid-gutter-x: 15px;
  }
  .g-lg-2,
  .gy-lg-2 {
    --grid-gutter-y: 15px;
  }
  .g-lg-3,
  .gx-lg-3 {
    --grid-gutter-x: 30px;
  }
  .g-lg-3,
  .gy-lg-3 {
    --grid-gutter-y: 30px;
  }
  .g-lg-4,
  .gx-lg-4 {
    --grid-gutter-x: 45px;
  }
  .g-lg-4,
  .gy-lg-4 {
    --grid-gutter-y: 45px;
  }
  .g-lg-5,
  .gx-lg-5 {
    --grid-gutter-x: 90px;
  }
  .g-lg-5,
  .gy-lg-5 {
    --grid-gutter-y: 90px;
  }
}
@media (max-width: 767.98px) {
  .container {
    max-width: 540px;
  }
  .row-cols-md-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-md-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-md-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-md-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-md-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-md-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-md-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-md-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-md-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-md-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-md-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-md-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-md-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-md-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-md-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-md-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-md-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-md-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-md-0 {
    margin-left: 0;
  }
  .offset-md-1 {
    margin-left: 8.3333333333%;
  }
  .offset-md-2 {
    margin-left: 16.6666666667%;
  }
  .offset-md-3 {
    margin-left: 25%;
  }
  .offset-md-4 {
    margin-left: 33.3333333333%;
  }
  .offset-md-5 {
    margin-left: 41.6666666667%;
  }
  .offset-md-6 {
    margin-left: 50%;
  }
  .offset-md-7 {
    margin-left: 58.3333333333%;
  }
  .offset-md-8 {
    margin-left: 66.6666666667%;
  }
  .offset-md-9 {
    margin-left: 75%;
  }
  .offset-md-10 {
    margin-left: 83.3333333333%;
  }
  .offset-md-11 {
    margin-left: 91.6666666667%;
  }
  .g-md-0,
  .gx-md-0 {
    --grid-gutter-x: 0px;
  }
  .g-md-0,
  .gy-md-0 {
    --grid-gutter-y: 0px;
  }
  .g-md-1,
  .gx-md-1 {
    --grid-gutter-x: 7.5px;
  }
  .g-md-1,
  .gy-md-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-md-2,
  .gx-md-2 {
    --grid-gutter-x: 15px;
  }
  .g-md-2,
  .gy-md-2 {
    --grid-gutter-y: 15px;
  }
  .g-md-3,
  .gx-md-3 {
    --grid-gutter-x: 30px;
  }
  .g-md-3,
  .gy-md-3 {
    --grid-gutter-y: 30px;
  }
  .g-md-4,
  .gx-md-4 {
    --grid-gutter-x: 45px;
  }
  .g-md-4,
  .gy-md-4 {
    --grid-gutter-y: 45px;
  }
  .g-md-5,
  .gx-md-5 {
    --grid-gutter-x: 90px;
  }
  .g-md-5,
  .gy-md-5 {
    --grid-gutter-y: 90px;
  }
}
@media (max-width: 575.98px) {
  .container {
    max-width: 100%;
  }
  .row-cols-sm-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-sm-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-sm-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-sm-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-sm-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-sm-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-sm-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-sm-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-sm-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-sm-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-sm-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-sm-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-sm-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-sm-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-sm-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-sm-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-sm-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-sm-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-sm-0 {
    margin-left: 0;
  }
  .offset-sm-1 {
    margin-left: 8.3333333333%;
  }
  .offset-sm-2 {
    margin-left: 16.6666666667%;
  }
  .offset-sm-3 {
    margin-left: 25%;
  }
  .offset-sm-4 {
    margin-left: 33.3333333333%;
  }
  .offset-sm-5 {
    margin-left: 41.6666666667%;
  }
  .offset-sm-6 {
    margin-left: 50%;
  }
  .offset-sm-7 {
    margin-left: 58.3333333333%;
  }
  .offset-sm-8 {
    margin-left: 66.6666666667%;
  }
  .offset-sm-9 {
    margin-left: 75%;
  }
  .offset-sm-10 {
    margin-left: 83.3333333333%;
  }
  .offset-sm-11 {
    margin-left: 91.6666666667%;
  }
  .g-sm-0,
  .gx-sm-0 {
    --grid-gutter-x: 0px;
  }
  .g-sm-0,
  .gy-sm-0 {
    --grid-gutter-y: 0px;
  }
  .g-sm-1,
  .gx-sm-1 {
    --grid-gutter-x: 7.5px;
  }
  .g-sm-1,
  .gy-sm-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-sm-2,
  .gx-sm-2 {
    --grid-gutter-x: 15px;
  }
  .g-sm-2,
  .gy-sm-2 {
    --grid-gutter-y: 15px;
  }
  .g-sm-3,
  .gx-sm-3 {
    --grid-gutter-x: 30px;
  }
  .g-sm-3,
  .gy-sm-3 {
    --grid-gutter-y: 30px;
  }
  .g-sm-4,
  .gx-sm-4 {
    --grid-gutter-x: 45px;
  }
  .g-sm-4,
  .gy-sm-4 {
    --grid-gutter-y: 45px;
  }
  .g-sm-5,
  .gx-sm-5 {
    --grid-gutter-x: 90px;
  }
  .g-sm-5,
  .gy-sm-5 {
    --grid-gutter-y: 90px;
  }
}
.d-block {
  display: block !important;
}

.d-flex {
  display: flex !important;
}

.d-grid {
  display: grid !important;
}

.d-none {
  display: none !important;
}

@media (max-width: 1399.98px) {
  .d-xxl-block {
    display: block !important;
  }
  .d-xxl-flex {
    display: flex !important;
  }
  .d-xxl-grid {
    display: grid !important;
  }
  .d-xxl-none {
    display: none !important;
  }
}
@media (max-width: 1199.98px) {
  .d-xl-block {
    display: block !important;
  }
  .d-xl-flex {
    display: flex !important;
  }
  .d-xl-grid {
    display: grid !important;
  }
  .d-xl-none {
    display: none !important;
  }
}
@media (max-width: 991.98px) {
  .d-lg-block {
    display: block !important;
  }
  .d-lg-flex {
    display: flex !important;
  }
  .d-lg-grid {
    display: grid !important;
  }
  .d-lg-none {
    display: none !important;
  }
}
@media (max-width: 767.98px) {
  .d-md-block {
    display: block !important;
  }
  .d-md-flex {
    display: flex !important;
  }
  .d-md-grid {
    display: grid !important;
  }
  .d-md-none {
    display: none !important;
  }
}
@media (max-width: 575.98px) {
  .d-sm-block {
    display: block !important;
  }
  .d-sm-flex {
    display: flex !important;
  }
  .d-sm-grid {
    display: grid !important;
  }
  .d-sm-none {
    display: none !important;
  }
}
html.dark {
  --body-bg: #131517;
  --text-color: #858B93;
  --text-color-highlight: #F9F9F9;
  --linear-primary-bg: linear-gradient(90deg, #EB9204 -33.14%, #83E868 116.38%);
  --linear-decorator-bg: linear-gradient(180deg, #111118 6.06%, rgba(43, 43, 61, 0.00) 119.38%);
  --decorator-shadow: 0 40px 30px 0 #313141 inset;
  --btn-bg: #282C30;
  --btn-outline-color: #272633;
  --logo-color: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(5101%) hue-rotate(355deg) brightness(124%) contrast(95%);
  --icon-color: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(5101%) hue-rotate(355deg) brightness(124%) contrast(95%);
  --media-icon-color-active: brightness(0) saturate(100%) invert(98%) sepia(73%) saturate(1302%) hue-rotate(42deg) brightness(99%) contrast(84%);
  --sidebar-bg: #292E39;
  --dashboard-bg: #1F2326;
  --dashboard-content-bg: #0D1012;
  --dashboard-icon-bg: #151A1E;
  --dashboard-task-bg: #14181B;
  --dashboard-task-active-bg: #2B2D2F;
  --dashboard-task-active-color: #D5D5D6;
  --collection-bg: #0D1012;
  --collection-item-bg: #14181B;
  --service-bg: #282C30;
  --service-bg-small-device: #1C1F22;
  --stats-item-bg: #272633;
  --stats-circle-border: #2F2F2F;
  --stats-rectangle-bg: #191B1D;
  --stats-badge-bg: #27292C;
  --stats-badge-icon-bg: #363A3E;
}

html {
  --body-bg: #eaeaea;
  --text-color: #737373;
  --text-color-highlight: #060606;
  --linear-primary-bg: linear-gradient(90deg, #EB9204 -33.14%, #83E868 116.38%);
  --linear-decorator-bg: linear-gradient(180deg, #ebebeb 6.06%, rgba(43, 43, 61, 0) 119.38%);
  --decorator-shadow: 0 40px 30px 0 #c6c6c6 inset;
  --btn-bg: #d3d3d3;
  --btn-outline-color: #d3d3d3;
  --logo-color: brightness(0) saturate(100%) invert(0%) sepia(19%) saturate(2864%) hue-rotate(100deg) brightness(96%) contrast(95%);
  --icon-color: brightness(0) saturate(100%) invert(0%) sepia(19%) saturate(2864%) hue-rotate(100deg) brightness(96%) contrast(95%);
  --media-icon-color-active: brightness(0) saturate(100%) invert(98%) sepia(73%) saturate(1302%) hue-rotate(42deg) brightness(99%) contrast(84%);
  --sidebar-bg: #cecece;
  --dashboard-bg: #dddddd;
  --dashboard-content-bg: #f0f0f0;
  --dashboard-icon-bg: #e6e6e6;
  --dashboard-task-bg: #e8e8e8;
  --dashboard-task-active-bg: #d2d2d2;
  --dashboard-task-active-color: #292929;
  --collection-bg: #f0f0f0;
  --collection-item-bg: #e8e8e8;
  --service-bg: #d3d3d3;
  --service-bg-small-device: #e0e0e0;
  --stats-item-bg: #d3d3d3;
  --stats-circle-border: #d0d0d0;
  --stats-rectangle-bg: #e4e4e4;
  --stats-badge-bg: #d6d6d6;
  --stats-badge-icon-bg: #c5c5c5;
}

.sticky-header {
  position: sticky;
  top: 0;
  z-index: 99;
}

.header {
  margin: 30px 0;
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--body-bg);
}

.logo {
  filter: var(--logo-color);
}

@media (max-width: 767.98px) {
  .navbar {
    position: fixed;
    inset: 0 0 0 20%;
    z-index: 10;
    background: var(--sidebar-bg);
    border-radius: 20px 0 0 20px;
    translate: 100%;
    transition: translate 0.5s;
  }
  .navbar.show {
    translate: 0;
  }
  .navbar.show ~ .navbar__overlay {
    visibility: visible;
    opacity: 1;
  }
}
.navbar__list {
  display: flex;
  align-items: center;
}
@media (max-width: 767.98px) {
  .navbar__list {
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 0;
  }
}
@media (max-width: 767.98px) {
  .navbar__item {
    width: 100%;
  }
}
.navbar__link {
  display: flex;
  align-items: center;
  height: 40px;
  padding: 12px 18px;
  line-height: 150%;
  position: relative;
}
@media (max-width: 767.98px) {
  .navbar__link {
    height: 60px;
  }
}
.navbar__link--active {
  color: var(--text-color-highlight);
}
@media (max-width: 767.98px) {
  .navbar__link--active {
    color: inherit;
  }
}
.navbar__link--active::before {
  position: absolute;
  content: "";
  bottom: 8px;
  left: 20px;
  width: 20px;
  height: 2px;
  background: #6aea5c;
}
@media (max-width: 767.98px) {
  .navbar__link--active::before {
    content: none;
  }
}
.navbar__overlay {
  position: fixed;
  inset: 0;
  z-index: 999;
  background: rgba(0, 0, 0, 0.6);
  visibility: hidden;
  opacity: 0;
  transition: opacity, visibility;
  transition-duration: 0.5s;
}

.top-action {
  display: flex;
  gap: 50px;
}
.top-action__more {
  padding: 0 8px;
}

.btn {
  height: 55px;
  border-radius: 8px;
  padding: 0 40px;
  background: var(--btn-bg);
  color: #F9F9F9;
  font-size: 1.6rem;
}
@media (max-width: 575.98px) {
  .btn {
    font-size: 1.2rem;
  }
}
.btn + .btn {
  margin-left: 20px;
}
.btn--small {
  height: 40px;
  padding: 0 20px;
}
.btn--primary {
  background: var(--linear-primary-bg);
  color: #F9F9F9;
}
.btn--outline {
  color: #83E868;
  border: 1px solid var(--btn-outline-color);
}
@supports (background-clip: text) or (-webkit-background-clip: text) {
  .btn--outline {
    color: transparent;
    background: var(--linear-primary-bg);
    background-clip: text;
    -webkit-background-clip: text;
  }
}

:root {
  --font-size-media: 1rem;
  --sound-line-width: 2px;
  --sound-line-height: 50px;
  --sound-btn-icon-size: 15px;
  --sound-btn-padding: 5px;
}
@media (max-width: 1199.98px) {
  :root {
    --font-size-media: 0.8rem;
    --sound-line-height: 40px;
    --sound-btn-icon-size: 12px;
  }
}
@media (max-width: 991.98px) {
  :root {
    --font-size-media: 0.6rem;
    --sound-line-height: 30px;
    --sound-btn-icon-size: 10px;
    --sound-btn-padding: 2px;
  }
}
@media (max-width: 767.98px) {
  :root {
    --font-size-media: 0.4rem;
    --sound-btn-icon-size: 8px;
  }
}
@media (max-width: 575.98px) {
  :root {
    --font-size-media: 0.3rem;
    --sound-btn-icon-size: 6px;
  }
}

.hero {
  padding: 90px 0 70px;
}
@media (max-width: 991.98px) {
  .hero {
    padding: 70px 0 70px;
  }
}
@media (max-width: 767.98px) {
  .hero {
    padding: 40px 0 40px;
  }
}
@media (max-width: 575.98px) {
  .hero {
    padding: 0 0 40px;
  }
}
.hero__content {
  display: flex;
  padding: 0 28px;
  gap: 20px;
}
@media (max-width: 1399.98px) {
  .hero__content {
    padding: 0 20px;
  }
}
@media (max-width: 991.98px) {
  .hero__content {
    padding: 0;
  }
}
@media (max-width: 767.98px) {
  .hero__content {
    padding: 0 10px;
    position: relative;
  }
}
.hero__main {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
@media (max-width: 1199.98px) {
  .hero__main {
    margin-top: 30px;
  }
}
@media (max-width: 575.98px) {
  .hero__main {
    padding: 0 10px;
  }
}
.hero__heading {
  width: 92%;
  font-size: 6rem;
  font-weight: 700;
  line-height: 70px;
  color: var(--text-color-highlight);
}
@media (max-width: 991.98px) {
  .hero__heading {
    font-size: 4.4rem;
  }
}
@media (max-width: 767.98px) {
  .hero__heading {
    font-size: 3.6rem;
    font-weight: 600;
    line-height: normal;
  }
}
@media (max-width: 575.98px) {
  .hero__heading {
    font-size: 3rem;
    font-weight: 600;
  }
}
.hero__management {
  --decorator-width: 10px;
  position: relative;
  display: inline-block;
  line-height: normal;
}
@media (max-width: 575.98px) {
  .hero__management {
    --decorator-width: 7px;
  }
}
.hero__management--text {
  position: relative;
  display: inline-block;
  color: #83E868;
  padding: 0 6px 4px 4px;
}
.hero__management--text::after {
  position: absolute;
  content: "";
  inset: 0;
  z-index: -1;
  background: #20262D;
  border: 1px dashed #FFF;
}
@supports (background-clip: text) or (-webkit-background-clip: text) {
  .hero__management--text {
    color: transparent;
    background-image: var(--linear-primary-bg);
    background-clip: text;
    -webkit-background-clip: text;
  }
}
.hero__management--decorator {
  position: absolute;
  display: block;
  width: var(--decorator-width);
  height: var(--decorator-width);
}
.hero__management--decorator-1 {
  border-radius: 50% 50% 0 50%;
  background: #AE8FF9;
  top: calc(-1 * var(--decorator-width));
  left: calc(-1 * var(--decorator-width));
}
.hero__management--decorator-2 {
  border-radius: 50% 50% 50% 0;
  background: #EF8F00;
  top: calc(-1 * var(--decorator-width));
  right: calc(-1 * var(--decorator-width));
}
.hero__management--decorator-3 {
  border-radius: 0 50% 50% 50%;
  background: #0CCE84;
  bottom: calc(-1 * var(--decorator-width));
  right: calc(-1 * var(--decorator-width));
}
.hero__management--decorator-4 {
  border-radius: 50% 0 50% 50%;
  background: #FF7667;
  bottom: calc(-1 * var(--decorator-width));
  left: calc(-1 * var(--decorator-width));
}
.hero__desc {
  margin-top: 35px;
  width: 45%;
  line-height: 162.5%;
}
@media (max-width: 1399.98px) {
  .hero__desc {
    width: 52%;
  }
}
@media (max-width: 1199.98px) {
  .hero__desc {
    width: 70%;
  }
}
@media (max-width: 991.98px) {
  .hero__desc {
    width: 95%;
  }
}
@media (max-width: 767.98px) {
  .hero__desc {
    display: none;
  }
}
.hero__cta {
  margin-top: 45px;
}
@media (max-width: 767.98px) {
  .hero__cta {
    display: flex;
    flex-direction: column;
    gap: 18px;
    margin-top: 30px;
  }
}
.hero__cta--btn {
  width: 200px;
}
@media (max-width: 991.98px) {
  .hero__cta--btn {
    width: 180px;
    padding: 0 30px;
  }
}
@media (max-width: 767.98px) {
  .hero__cta--btn {
    margin: 0 !important;
  }
}
@media (max-width: 575.98px) {
  .hero__cta--btn {
    width: 150px;
    height: 40px;
    padding: 0 20px;
  }
}
.hero__decorator-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4em;
  font-size: 1rem;
}
@media (max-width: 767.98px) {
  .hero__decorator-list {
    position: absolute;
    font-size: 0.3rem;
  }
}
@media (max-width: 575.98px) {
  .hero__decorator-list {
    position: absolute;
    font-size: 0.2rem;
  }
}
@media (max-width: 767.98px) {
  .hero__decorator-list--1 {
    flex-direction: row;
    top: -20px;
    left: 70px;
  }
}
@media (max-width: 767.98px) {
  .hero__decorator-list--2 {
    bottom: 50px;
    right: 50px;
  }
}
.hero__decorator {
  display: block;
  border-radius: 50%;
  background: var(--linear-decorator-bg);
  box-shadow: var(--decorator-shadow);
}
.hero__decorator--large {
  width: 12em;
  height: 12em;
}
.hero__decorator--medium {
  width: 4em;
  height: 4em;
}
.hero__decorator--small {
  width: 2.5em;
  height: 2.5em;
}
.hero__decorator--extra-small {
  width: 1.4em;
  height: 1.4em;
}
.hero__media {
  display: flex;
  justify-content: center;
  padding: 110px 50px 150px 50px;
}
@media (max-width: 767.98px) {
  .hero__media {
    padding: 80px 50px 60px 50px;
  }
}

.dashboard {
  position: relative;
  display: flex;
  width: 85em;
  border-radius: 8px 8px 0 0;
  background: var(--dashboard-bg);
  font-size: var(--font-size-media);
}
.dashboard-menu {
  display: flex;
  align-items: center;
  gap: 2.5em;
  padding: 1.5em 3.2em 1.5em 1.5em;
}
.dashboard-menu__icon {
  width: 10px;
  height: 10px;
  filter: var(--icon-color);
}
@media (max-width: 767.98px) {
  .dashboard-menu__icon {
    width: 6px;
    height: 6px;
  }
}
.dashboard-menu__title {
  font-size: 1.4em;
  font-weight: 600;
}
.dashboard-collection {
  font-size: var(--font-size-media);
}
.dashboard-collection__title {
  padding-left: 1.072em;
  font-size: 1.4em;
  font-weight: 600;
  color: var(--text-color-highlight);
}
.dashboard-collection__list {
  margin-top: 1.2em;
}
.dashboard-collection__item {
  display: flex;
  align-items: center;
  gap: 1em;
  padding: 1em 1.25em;
  font-size: 1.2em;
}
.dashboard-collection__item--active {
  background: var(--dashboard-task-active-bg);
  color: var(--dashboard-task-active-color);
}
.dashboard-collection__icon {
  display: inline-block;
  width: 1.7em;
  height: 1.7em;
  border-radius: 0.5em;
}
.dashboard-collection__icon-1 {
  background: #AE8FF9;
}
.dashboard-collection__icon-2 {
  background: #FF7667;
}
.dashboard-content {
  background: var(--dashboard-content-bg);
  flex: 1;
  margin: 2.5em 1.5em 0 0;
  padding: 2.5em;
}
.dashboard-content__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.dashboard-content__back {
  margin-left: 11em;
  display: flex;
  align-items: center;
  gap: 0.8em;
  color: var(--text-color-highlight);
}
.dashboard-content__back-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.5em;
  background: var(--dashboard-icon-bg);
  border-radius: 0.8em;
}
.dashboard-content__back-img {
  width: 1em;
  height: 1em;
  filter: var(--icon-color);
}
.dashboard-content__group-action {
  display: flex;
  align-items: center;
  gap: 7.5em;
}
@media (max-width: 767.98px) {
  .dashboard-content__group-action--user-icon {
    height: 12px;
  }
}
.dashboard-content__body {
  margin-top: 1em;
}
.dashboard-task {
  display: flex;
  flex-direction: column;
  margin-right: 2em;
}
.dashboard-task__sort {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 1.2em;
  gap: 0.75em;
  margin-bottom: 0.75em;
}
.dashboard-task__sort > img {
  filter: var(--icon-color);
}
.dashboard-task__item {
  position: relative;
  background: var(--dashboard-task-bg);
  padding: 0.8em 1.4em;
  border-radius: 1em;
  margin-bottom: 1em;
  font-weight: 300;
  display: flex;
  align-items: center;
  column-gap: 3.2rem;
}
.dashboard-task__item::before {
  content: "";
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  border: 1px solid #0CCE84;
  border-radius: 0.4em;
}
.dashboard-task__item::after {
  position: absolute;
  top: 1em;
  left: 2em;
  content: "";
  width: 0.4em;
  height: 0.8em;
  border: 1px solid;
  border-color: transparent #9EA1A7 #9EA1A7 transparent;
  rotate: 45deg;
}
.dashboard-task__add {
  position: relative;
  background: var(--dashboard-task-bg);
  padding: 0.8em 1.4em;
  border-radius: 1em;
  font-weight: 600;
  display: flex;
  align-items: center;
  column-gap: 3.2rem;
  color: var(--text-color-highlight);
}
.dashboard-task__add::before {
  content: "";
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  background: #0CCE84;
  border-radius: 0.4em;
}
.dashboard-task__add::after {
  position: absolute;
  content: "+";
  font-size: 1.2em;
  top: 0.8em;
  left: 1.5em;
}
.dashboard-media {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.dashboard-media__info {
  margin-bottom: 0.75em;
  font-size: 1.4em;
  color: var(--text-color-highlight);
}
.dashboard-media__wrap {
  position: relative;
  padding-top: 100%;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.dashboard-media__wrap:hover .dashboard-media__footer {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}
.dashboard-media__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1.7em;
}
.dashboard-media__center {
  position: absolute;
  width: 100%;
  height: 50px;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 991.98px) {
  .dashboard-media__center {
    height: 30px;
  }
}
@media (max-width: 575.98px) {
  .dashboard-media__center {
    height: 25px;
  }
}
.dashboard-media__center.play > .dashboard-media__play {
  visibility: visible;
}
.dashboard-media__center.pause > .dashboard-media__play {
  visibility: hidden;
}
.dashboard-media__center.pause:hover > .dashboard-media__pause {
  visibility: visible;
  opacity: 1;
}
.dashboard-media__play, .dashboard-media__pause {
  position: absolute;
  background: rgba(255, 254, 254, 0.7098039216);
  visibility: hidden;
  transition: visibility, opacity 0.4s;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 991.98px) {
  .dashboard-media__play, .dashboard-media__pause {
    width: 25px;
    height: 25px;
  }
}
@media (max-width: 767.98px) {
  .dashboard-media__play, .dashboard-media__pause {
    width: 20px;
    height: 20px;
  }
}
@media (max-width: 575.98px) {
  .dashboard-media__play, .dashboard-media__pause {
    width: 18px;
    height: 18px;
  }
}
.dashboard-media__footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
  visibility: hidden;
  opacity: 0;
  transition: visibility, opacity 0.2s;
  pointer-events: none;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 0 0 1.7em 1.7em;
}
@media (max-width: 767.98px) {
  .dashboard-media__footer {
    gap: 4px;
  }
}
@media (max-width: 575.98px) {
  .dashboard-media__footer {
    gap: 0;
  }
}
.dashboard-media__duration {
  position: relative;
  width: 100%;
  height: 3px;
  background: #30302C;
}
.dashboard-media__duration--progress, .dashboard-media__duration--buffered, .dashboard-media__duration--played {
  position: absolute;
  top: 0;
  left: 0;
  height: 3px;
}
.dashboard-media__duration--progress {
  position: absolute;
  z-index: 10;
  top: 0;
  width: 100%;
  cursor: pointer;
  background: transparent;
  appearance: none;
}
.dashboard-media__duration--progress::-webkit-slider-thumb {
  appearance: none;
  background: var(--linear-primary-bg);
  width: 12px;
  height: 12px;
  border-radius: 50%;
}
@media (max-width: 575.98px) {
  .dashboard-media__duration--progress::-webkit-slider-thumb {
    width: 8px;
    height: 8px;
  }
}
.dashboard-media__duration--played {
  position: absolute;
  z-index: 1;
  top: 0;
  background: var(--linear-primary-bg);
}
.dashboard-media__duration--buffered {
  background: #a6a6a6;
  pointer-events: none;
}
.dashboard-media__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4px;
  padding: 4px;
}
@media (max-width: 575.98px) {
  .dashboard-media__bottom {
    padding: 2px 4px;
  }
}
.dashboard-media__time {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 4px;
  color: #F9F9F9;
}
@media (max-width: 991.98px) {
  .dashboard-media__time {
    font-size: 0.8rem;
  }
}
@media (max-width: 767.98px) {
  .dashboard-media__time {
    font-size: 0.5rem;
    gap: 3px;
  }
}
@media (max-width: 575.98px) {
  .dashboard-media__time {
    font-size: 0.4rem;
    gap: 2px;
  }
}
.dashboard-media__action {
  display: flex;
  gap: 4px;
}
@media (max-width: 575.98px) {
  .dashboard-media__action {
    gap: 0;
  }
}
.dashboard-media__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--sound-btn-padding);
}
.dashboard-media__btn > img {
  width: var(--sound-btn-icon-size);
  height: var(--sound-btn-icon-size);
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(5101%) hue-rotate(355deg) brightness(124%) contrast(95%);
}
.dashboard-media__sound {
  position: relative;
}
.dashboard-media__sound-line {
  visibility: hidden;
  opacity: 0;
  transition: visibility, opacity 0.4s;
}
.dashboard-media__sound-line {
  position: absolute;
  display: flex;
  align-items: center;
  z-index: 20;
  top: calc(-1 * (var(--sound-btn-padding) * 2 + var(--sound-btn-icon-size)));
  right: calc(var(--sound-btn-padding) * 2 + var(--sound-btn-icon-size));
  width: var(--sound-line-height);
  height: calc(var(--sound-btn-padding) * 2 + var(--sound-btn-icon-size));
  rotate: 90deg;
  transform-origin: bottom right;
}
.dashboard-media__sound-line::after {
  position: absolute;
  z-index: -1;
  content: "";
  width: var(--sound-line-width);
  height: var(--sound-line-height);
  right: calc(var(--sound-line-height) / 2 - 1px);
  rotate: 90deg;
  background: #a6a6a6;
}
.dashboard-media__sound-line--slider {
  position: absolute;
  z-index: 1;
  left: 0;
  bottom: calc(var(--sound-btn-padding) * 2 + var(--sound-btn-icon-size));
  writing-mode: vertical-rl;
  height: var(--sound-line-height);
  width: calc(var(--sound-btn-padding) * 2 + var(--sound-btn-icon-size));
  rotate: 90deg;
  transform-origin: bottom left;
  cursor: pointer;
  background: transparent;
  appearance: none;
}
.dashboard-media__sound-line--slider::-webkit-slider-thumb {
  appearance: none;
  background: #F9F9F9;
  height: 10px;
  width: 10px;
  border-radius: 50%;
}
.dashboard-media__sound-line--value {
  position: absolute;
  right: 0;
  width: var(--sound-line-height);
  height: var(--sound-line-width);
  background: #F9F9F9;
}
.dashboard-media__sound:hover > .dashboard-media__sound-line {
  visibility: visible;
  opacity: 1;
}
.dashboard-media__sound.sound-on > .dashboard-media__sound-off, .dashboard-media__sound.sound-off > .dashboard-media__sound-on {
  display: none;
}
.dashboard-media__loop.active img {
  filter: var(--media-icon-color-active);
}
.dashboard-media__icon {
  width: 16px;
  height: 16px;
}
@media (max-width: 991.98px) {
  .dashboard-media__icon {
    width: 8px;
    height: 8px;
  }
}
@media (max-width: 767.98px) {
  .dashboard-media__icon {
    width: 6px;
    height: 6px;
  }
}
.dashboard-media__icon--play {
  width: 100%;
  padding-left: 2px;
}
.dashboard-media__icon--pause {
  width: 100%;
}
.dashboard-decorator {
  position: absolute;
  z-index: -1;
  font-size: var(--font-size-media);
  display: block;
  border-radius: 50%;
  box-shadow: var(--decorator-shadow);
}
.dashboard-decorator--left {
  bottom: -7.4em;
  left: -12.2em;
  width: 9em;
  height: 9em;
  background: var(--linear-decorator-bg);
}
.dashboard-decorator--right {
  bottom: 5em;
  right: -6.5em;
  width: 15.4em;
  height: 15.4em;
  background: linear-gradient(183deg, #8AE764 1.17%, #E99506 115.87%);
}

.collection {
  position: absolute;
  bottom: -15em;
  left: -7.5em;
  width: 22em;
  padding: 2.5em 1.5em;
  border-radius: 1.5em;
  background: var(--collection-bg);
}
.collection__header {
  display: flex;
  justify-content: space-between;
  padding: 0 1em;
}
.collection__title {
  color: var(--text-color-highlight);
  font-size: 1.4em;
  font-weight: 600;
}
.collection-list {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  gap: 0.8em;
}
.collection-item {
  --collection-icon-width: 3.2em;
  --collection-background: #FF7667;
  padding: 1.5em 1.2em;
  border-radius: 1.3em;
  background: var(--collection-item-bg);
}
.collection-item__info {
  display: flex;
  gap: 1em;
}
.collection-item__icon {
  width: var(--collection-icon-width);
  height: var(--collection-icon-width);
  border-radius: 1.2em;
  background: var(--collection-background);
}
.collection-item__name {
  color: var(--text-color-highlight);
  font-size: 1.4em;
  font-weight: 600;
}
.collection-item__desc {
  margin-top: 0.8em;
}
.collection-item__progress {
  margin-top: 1.2em;
  display: flex;
  align-items: center;
  gap: 0.8em;
}
.collection-item__progress--bar {
  position: relative;
  flex: 1;
  height: 0.3em;
  background: #272633;
}
.collection-item__progress--bar::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: var(--collection-icon-width);
  height: 0.3em;
  background: var(--collection-background);
}
.collection-item--1 {
  --collection-background: #FF7667;
}
.collection-item--2 {
  --collection-background: #AE8FF9;
}
.collection-item--3 {
  --collection-background: #0CCE84;
}

.service {
  --service-gap: 140px;
  --icon-size: 62px;
  --line-offset: 50px;
  display: flex;
  gap: var(--service-gap);
  margin: 70px 24px;
  padding: 70px 50px 50px 50px;
  border-radius: 27px;
  background: var(--service-bg);
}
@media (max-width: 1399.98px) {
  .service {
    --line-offset: 40px;
  }
}
@media (max-width: 1199.98px) {
  .service {
    --service-gap: 70px;
  }
}
@media (max-width: 991.98px) {
  .service {
    --service-gap: 80px;
    --line-offset: 30px;
  }
}
@media (max-width: 575.98px) {
  .service {
    --service-gap: 60px;
  }
}
@media (max-width: 1199.98px) {
  .service {
    margin: 70px 0;
    padding: 70px 30px 50px 30px;
  }
}
@media (max-width: 991.98px) {
  .service {
    flex-direction: column;
    margin: 70px;
    padding: 70px;
  }
}
@media (max-width: 767.98px) {
  .service {
    background: var(--service-bg-small-device);
    margin: 40px 70px;
    padding: 50px;
  }
}
@media (max-width: 575.98px) {
  .service {
    margin: 40px 70px;
    padding: 50px 30px;
  }
}
.service__item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.service__item:not(:last-child)::after {
  position: absolute;
  content: "";
  top: calc(var(--icon-size) * 0.5);
  width: calc(var(--service-gap) + 2 * var(--line-offset));
  right: calc(-1 * (var(--service-gap) + var(--line-offset)));
  border-bottom: 2px dashed;
}
@media (max-width: 991.98px) {
  .service__item:not(:last-child)::after {
    top: auto;
    right: auto;
    bottom: calc(var(--service-gap) * -0.5);
    left: var(--line-offset);
    width: calc(100% - 2 * var(--line-offset));
  }
}
.service__icon {
  width: var(--icon-size);
  height: var(--icon-size);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}
.service__icon--1 {
  background: #0CCE84;
}
.service__icon--2 {
  background: #EF8F00;
}
.service__icon--3 {
  background: #AE8FF9;
}
.service__icon > img {
  width: 30px;
  height: 30px;
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(5101%) hue-rotate(355deg) brightness(124%) contrast(95%);
}
.service__title {
  margin-top: 30px;
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 145.455%;
  color: var(--text-color-highlight);
}
@media (max-width: 1199.98px) {
  .service__title {
    font-size: 2rem;
  }
}
.service__desc {
  margin-top: 5px;
  line-height: 162.5%;
}

.stats {
  margin: 140px 0;
  display: flex;
  gap: 20px;
}
@media (max-width: 991.98px) {
  .stats {
    flex-direction: column;
    margin: 140px 70px;
    gap: 120px;
  }
}
@media (max-width: 767.98px) {
  .stats {
    margin: 80px 70px;
  }
}
.stats__content {
  flex: 0.45;
  margin-top: 16px;
}
.stats__heading {
  font-size: 4rem;
  font-weight: 600;
  color: var(--text-color-highlight);
}
@media (max-width: 1199.98px) {
  .stats__heading {
    font-size: 3.6rem;
  }
}
@media (max-width: 767.98px) {
  .stats__heading {
    font-size: 3rem;
  }
}
.stats__heading--let {
  color: #83E868;
}
@supports (background-clip: text) or (-webkit-background-clip: text) {
  .stats__heading--let {
    color: transparent;
    background: var(--linear-primary-bg);
    background-clip: text;
    -webkit-background-clip: text;
  }
}
.stats__desc {
  margin-top: 20px;
  line-height: 162.5%;
}
@media (max-width: 767.98px) {
  .stats__desc {
    margin-top: 10px;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 183.333%;
  }
}
.stats__list {
  position: relative;
  margin-top: 85px;
  display: flex;
  gap: 16px;
  width: fit-content;
}
@media (max-width: 991.98px) {
  .stats__list {
    width: 100%;
    justify-content: center;
  }
}
@media (max-width: 767.98px) {
  .stats__list {
    gap: 70px;
    margin-top: 40px;
  }
}
.stats__dots {
  position: absolute;
  display: flex;
  gap: 4px;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
@media (max-width: 767.98px) {
  .stats__dots {
    display: none;
  }
}
.stats__dot {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  opacity: 0.3;
  background: #F9F9F9;
  cursor: pointer;
}
.stats__dot--active {
  background: #EF8F00;
  cursor: default;
}
.stats__item {
  width: 130px;
  height: 130px;
  border-radius: 10px;
  padding: 20px;
  background: var(--stats-item-bg);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 16px;
}
@media (max-width: 1199.98px) {
  .stats__item {
    width: 120px;
    height: 120px;
    padding: 15px;
    gap: 5px;
  }
}
@media (max-width: 767.98px) {
  .stats__item {
    width: 100px;
    height: 100px;
    padding: 15px;
  }
}
.stats__item--among {
  margin-top: 35px;
}
@media (max-width: 767.98px) {
  .stats__item--among {
    margin-top: 50px;
  }
}
.stats__item--active {
  background: linear-gradient(192deg, #C4F566 -43.72%, #AE8EF9 -5.87%, #EF8F00 52.36%, #61E559 122.78%);
}
@media (max-width: 767.98px) {
  .stats__item--active {
    position: absolute;
    width: 90px;
    height: 90px;
  }
}
.stats__item--active > .stats__label {
  color: var(--text-color-highlight);
}
.stats__value {
  font-size: 3rem;
  font-weight: 600;
  color: var(--text-color-highlight);
}
@media (max-width: 767.98px) {
  .stats__value {
    font-size: 2rem;
  }
}
.stats__label {
  line-height: 162.5%;
}
@media (max-width: 767.98px) {
  .stats__label {
    font-size: 1.2rem;
  }
}
.stats__media {
  flex: 0.55;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 1rem;
}
@media (max-width: 1199.98px) {
  .stats__media {
    font-size: 0.8rem;
  }
}
@media (max-width: 991.98px) {
  .stats__media {
    justify-content: center;
  }
}
@media (max-width: 767.98px) {
  .stats__media {
    font-size: 0.6rem;
  }
}
.stats__diagram {
  position: relative;
  width: 45.5em;
  height: 45.5em;
  margin: 35px 50px;
}
.stats__circle {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 21em;
  height: 21em;
  border-radius: 50%;
  background: #6AEA5C content-box;
  border: 3.5em solid rgba(106, 234, 92, 0.5019607843);
}
.stats__circle::before, .stats__circle::after {
  position: absolute;
  content: "";
  border-radius: 50%;
  border: 2px dashed var(--stats-circle-border);
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.stats__circle::before {
  width: 33.6em;
  height: 33.6em;
}
.stats__circle::after {
  width: 45.5em;
  height: 45.5em;
}
.stats__rectangle {
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: flex;
  gap: 16px;
  rotate: 12deg;
  transform-origin: top left;
}
.stats__rectangle--group {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.stats__rectangle--group-side {
  margin-top: 3em;
}
.stats__rectangle--group-among {
  margin-top: -3em;
}
.stats__rectangle--item {
  width: 15em;
  height: 20em;
  background: var(--stats-rectangle-bg);
}
.stats__badge {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 1.8em;
  background: var(--stats-badge-bg);
  height: 5.5em;
  width: 20em;
  border-radius: 5px;
}
.stats__badge-content {
  display: flex;
  align-items: center;
  gap: 15px;
}
@media (max-width: 767.98px) {
  .stats__badge-content {
    gap: 5px;
  }
}
.stats__badge--name {
  font-size: 1.4em;
  font-weight: 600;
}
.stats__badge--icon {
  width: 3.2em;
  height: 3.2em;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  background: var(--stats-badge-icon-bg);
}
@media (max-width: 1199.98px) {
  .stats__badge--img {
    scale: 0.8;
  }
}
@media (max-width: 767.98px) {
  .stats__badge--img {
    scale: 0.6;
  }
}
.stats__badge--1 {
  height: 6em;
  width: 22.5em;
  top: 2.5em;
  left: -5.5em;
}
.stats__badge--1 img {
  padding-left: 2px;
}
.stats__badge--2 {
  justify-content: space-between;
  width: 23em;
  bottom: 12em;
  left: -10em;
}
.stats__badge--3 {
  top: 2em;
  right: -2em;
}
.stats__badge--3 img {
  padding: 0.2em 0.2em 0 0;
}
.stats__badge--4 {
  bottom: 4.5em;
  right: -3.5em;
}
.stats__badge--1 .stats__badge--name {
  color: #EF8F00;
}
@supports (background-clip: text) or (-webkit-background-clip: text) {
  .stats__badge--1 .stats__badge--name {
    color: transparent;
    background: linear-gradient(90deg, #EF8F00 -33.14%, #FF7667 116.38%);
    background-clip: text;
    -webkit-background-clip: text;
  }
}
.stats__badge--2 .stats__badge--name {
  color: #C4F566;
}
@supports (background-clip: text) or (-webkit-background-clip: text) {
  .stats__badge--2 .stats__badge--name {
    color: transparent;
    background: linear-gradient(90deg, #C4F566 -33.14%, #FF6E6E 116.38%);
    background-clip: text;
    -webkit-background-clip: text;
  }
}
.stats__badge--3 .stats__badge--name {
  color: #0CCE84;
}
@supports (background-clip: text) or (-webkit-background-clip: text) {
  .stats__badge--3 .stats__badge--name {
    color: transparent;
    background: linear-gradient(90deg, #0CCE84 -33.14%, #AE8EF9 116.38%);
    background-clip: text;
    -webkit-background-clip: text;
  }
}
.stats__badge--4 .stats__badge--name {
  color: #C4F566;
}
@supports (background-clip: text) or (-webkit-background-clip: text) {
  .stats__badge--4 .stats__badge--name {
    color: transparent;
    background: linear-gradient(90deg, #C4F566 -33.14%, #FF6E6E 116.38%);
    background-clip: text;
    -webkit-background-clip: text;
  }
}
.stats__badge--avatar-group {
  display: flex;
  justify-content: center;
  align-items: center;
}
.stats__badge--user {
  position: relative;
  z-index: 1;
  width: 3.2em;
  height: 3.2em;
}
.stats__badge--user::after {
  position: absolute;
  content: "";
  inset: -1px;
  z-index: -1;
  border-radius: 50%;
  opacity: 0.6;
}
.stats__badge--user--1 {
  margin-right: -1.2em;
}
.stats__badge--user--1::after {
  background-image: linear-gradient(90deg, #C531F9, rgba(221, 64, 111, 0.7803921569) 78.14%, #787878 0%);
}
.stats__badge--user--2::after {
  background-image: linear-gradient(90deg, #6AEA5C, #DB7D60 86.48%, #787878 0%);
}
.stats__badge--avatar {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #191a28;
  background-clip: padding-box;
}

/*# sourceMappingURL=main.css.map */
