html {
  --text-color: #858B93;
  --text-color-highlight: #191919;

  --sidebar-bg: #FFF;

  // #191919
  --logo-color: brightness(0) saturate(100%) invert(0%) sepia(8%) saturate(6439%) hue-rotate(349deg) brightness(87%) contrast(80%);
}