@use '../abstracts';

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  height: 55px;
  border-radius: 8px;
  padding: 0 40px;

  background: var(--btn-bg);
  color: #F9F9F9;

  font-size: 1.6rem;

  @include abstracts.screen(sm) {
    font-size: 1.2rem;
  }

  +.btn {
    margin-left: 20px;
  }

  &--small {
    height: 40px;
    padding: 0 20px;
  }

  &--primary {
    background: var(--linear-primary-bg);
    color: #F9F9F9;
  }

  &--outline {
    color: #83E868;
    border: 1px solid var(--btn-outline-color);

    @supports (background-clip: text) or (-webkit-background-clip: text) {
      color: transparent;
      background: var(--linear-primary-bg);
      background-clip: text;
      -webkit-background-clip: text;
    }
  }
}