@use '../abstracts';

.feature {
  margin: 140px 0;
  background: var(--feature-bg);

  @include abstracts.screen(md) {
    background: unset;
  }

  &__timeline {
    position: relative;
    display: flex;
    justify-content: center;
    padding: 80px 0;

    @include abstracts.screen(md) {
      background: var(--feature-bg);
      justify-content: flex-start;
      padding: 50px 0 100px 50px;
    }

    &-list {
      position: relative;
      z-index: 1;
      display: flex;
      justify-content: space-between;
      width: 300px;
      height: 380px;

      @include abstracts.screen(md) {
        width: 220px;
        height: 300px;
      }

      &::after {
        position: absolute;
        content: "";
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        width: 300px;
        height: 300px;
        border-radius: 50%;
        background: linear-gradient(180deg, #6AEA5C 0%, #FD7566 48.53%, #EF8F00 100%);
        filter: blur(70px);

        @include abstracts.screen(md) {
          width: 220px;
          height: 220px;
        }
      }
    }

    &-item {
      position: relative;
      border-left: 1px dashed var(--feature-timeline-border);
    }

    &-hour {
      position: absolute;
      left: 0;
      bottom: -25px;
      transform: translateX(-50%);
      white-space: nowrap;
      font-size: 1.4rem;
    }

    &-bubble {
      --paddingX-12: 20px;
      --avatar-user-size: 3.6rem;

      position: absolute;
      z-index: 1;
      display: flex;
      align-items: center;
      gap: 16px;
      padding: 20px;
      border-radius: 12px;
      background: var(--feature-bubble-bg);
      white-space: nowrap;

      @include abstracts.screen(lg) {
        --avatar-user-size: 3.6rem;
        --paddingX-12: 12px;
        padding: 12px;
      }

      @include abstracts.screen(md) {
        --avatar-user-size: 2.4rem;
        gap: 8px;
      }

      &-user {
        width: var(--avatar-user-size);
        height: var(--avatar-user-size);
      }

      &-avatar {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        border: 1px solid #BDBDBD;
      }

      &-name {
        @include abstracts.screen(lg) {
          font-size: 1.2rem;
        }
      }

      &--1 {
        left: calc(-1 * var(--paddingX-12) - 0.5 * var(--avatar-user-size));
        transform: translateY(-50%);
        padding: 10px var(--paddingX-12);
        background: var(--feature-bubble-bg-lighter);

        @include abstracts.screen(lg) {
          padding: 8px var(--paddingX-12);
        }

        & .feature__timeline-bubble-name {
          color: #0CCE84;

          @supports (background-clip: text) or(-webkit-background-clip: text) {
            color: transparent;
            background: linear-gradient(91deg, #F08D08 1.27%, #B88ED3 78.9%);
            background-clip: text;
            -webkit-background-clip: text;
          }
        }
      }

      &--2 {
        left: calc(-1 * var(--paddingX-12) - 0.5 * var(--avatar-user-size));
        bottom: 35px;

        & .feature__timeline-bubble-name {
          color: #0CCE84;

          @supports (background-clip: text) or(-webkit-background-clip: text) {
            color: transparent;
            background: linear-gradient(90deg, #0CCE84 -3.41%, #FF2EB8 103.89%);
            background-clip: text;
            -webkit-background-clip: text;
          }
        }
      }

      &--3 {
        top: 50%;
        left: -80px;

        @include abstracts.screen(xl) {
          left: -160px;
        }

        @include abstracts.screen(lg) {
          left: -80px;
        }

        & .feature__timeline-bubble-name {
          color: #FD7566;

          @supports (background-clip: text) or(-webkit-background-clip: text) {
            color: transparent;
            background: linear-gradient(90deg, #FD7566 1.48%, #6AEA5C 101.48%);
            background-clip: text;
            -webkit-background-clip: text;
          }
        }
      }
    }

    &-speech {
      position: absolute;
      z-index: 1;
      top: 90px;
      transform: translateX(calc(-50% - 10px));
      height: 65px;
      backdrop-filter: blur(5px);

      @include abstracts.screen(md) {
        top: 50px;
        transform: translateX(calc(-50%));
        height: 55px;
      }

      &-content {
        display: flex;
        flex-direction: column;
        white-space: nowrap;
        text-align: center;
        padding: 10px 35px 10px 50px;
        border-radius: 8px;
        background: var(--feature-speech-bg);
        gap: 2px;

        @include abstracts.screen(md) {
          padding: 6px 25px;
        }
      }

      &-arrow {
        position: absolute;
        right: 50px;
        width: 30px;
        height: 25px;
        background: var(--feature-speech-bg);
        clip-path: polygon(0 0, 50% 50%, 100% 0);

        @include abstracts.screen(md) {
          right: 45px;
          width: 25px;
          height: 20px;
        }
      }

      &-content,
      &-arrow {
        backdrop-filter: blur(15px);
      }

      &-percent,
      &-name {
        font-size: 1.2rem;
        color: var(--text-color-highlight);
      }
    }


  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 50px 20px;

    @include abstracts.screen(xl) {
      padding: 50px 0;
    }

    @include abstracts.screen(lg) {
      padding: 50px;
    }

    @include abstracts.screen(md) {
      padding: 0;
      background: var(--feature-bg);
    }
  }

  &__heading {
    font-size: 4rem;
    font-weight: 600;
    line-height: 125%;
    color: var(--text-color-highlight);

    @include abstracts.screen(lg) {
      font-size: 3.6rem;
    }

    @include abstracts.screen(md) {
      font-size: 3rem;
    }

    &-team-succeed {
      color: #83E868;

      @supports(background-clip: text) or (-webkit-background-clip: text) {
        color: transparent;
        background: var(--linear-primary-bg);
        background-clip: text;
        -webkit-background-clip: text;
      }
    }
  }

  &__checklist {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px 35px;
    margin-top: 50px;

    @include abstracts.screen(xl) {
      gap: 25px 20px;
    }

    @include abstracts.screen(md) {
      grid-template-columns: auto;
      padding: 0 50px 50px 50px;
    }
  }

  &__check-item {
    position: relative;
    display: flex;
    gap: 20px;

    &::before {
      content: "";
      display: inline-block;
      width: 20px;
      height: 20px;
      border-radius: 6px;
      flex-shrink: 0;
    }

    &--1::before {
      background: #0CCE84;
    }

    &--2::before {
      background: #EF8F00;
    }

    &--3::before {
      background: #AE8FF9;
    }

    &--4::before {
      background: #FF7667;
    }

    &::after {
      content: "";
      position: absolute;
      left: 6px;
      top: 2px;
      width: 8px;
      height: 12px;
      border: 2px solid;
      border-color: transparent #FDFDFD #FDFDFD transparent;
      rotate: 45deg;
    }

    &-info {
      display: flex;
      flex-direction: column;
      gap: 8px;
    }

    &-title {
      font-size: 1.8rem;
      font-weight: 600;
      color: var(--text-color-highlight);
    }

    &-desc {
      font-size: 1.4rem;
      line-height: 171.429%;
    }
  }
}