html {
  --font-size-media: 1rem;
}

.hero {
  padding: 90px 0 70px;

  &__content {
    display: flex;
    padding: 0 28px;
  }

  &__main {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  &__heading {
    width: 92%;
    font-size: 6rem;
    font-weight: 700;
    line-height: 70px;
    color: var(--text-color-highlight);
  }

  &__management {
    --decorator-width: 10px;

    position: relative;
    display: inline-flex;

    &--text {
      position: relative;
      color: #83E868;
      padding: 0 4px 4px 4px;

      &::after {
        position: absolute;
        content: "";
        inset: 0;
        z-index: -1;
        background: #20262D;
        border: 1px dashed #FFF;
      }

      @supports (background-clip: text) or (-webkit-background-clip: text) {
        color: transparent;
        background-image: var(--linear-primary-bg);
        background-clip: text;
        -webkit-background-clip: text;
      }
    }


    &--decorator {
      position: absolute;
      display: block;
      width: var(--decorator-width);
      height: var(--decorator-width);
    }

    &--decorator-1 {
      border-radius: 50% 50% 0 50%;
      background: #AE8FF9;
      top: calc(-1 * var(--decorator-width));
      left: calc(-1 * var(--decorator-width));
    }

    &--decorator-2 {
      border-radius: 50% 50% 50% 0;
      background: #EF8F00;
      top: calc(-1 * var(--decorator-width));
      right: calc(-1 * var(--decorator-width));
    }

    &--decorator-3 {
      border-radius: 0 50% 50% 50%;
      background: #0CCE84;
      bottom: calc(-1 * var(--decorator-width));
      right: calc(-1 * var(--decorator-width));
    }

    &--decorator-4 {
      border-radius: 50% 0 50% 50%;
      background: #FF7667;
      bottom: calc(-1 * var(--decorator-width));
      left: calc(-1 * var(--decorator-width));
    }
  }

  &__desc {
    margin-top: 35px;
    width: 45%;
    line-height: 162.5%
  }

  &__cta {
    margin-top: 45px;

    &--btn {
      width: 200px;
    }
  }

  &__decorator-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }

  &__decorator {
    display: block;
    border-radius: 50%;
    background: linear-gradient(180deg, #111118 6.06%, rgba(43, 43, 61, 0.00) 119.38%);
    box-shadow: 0 40px 30px 0 #313141 inset;

    &--large {
      width: 120px;
      height: 120px;
    }

    &--medium {
      width: 40px;
      height: 40px;
    }

    &--small {
      width: 25px;
      height: 25px;
    }

    &--extra-small {
      width: 14px;
      height: 14px;
    }
  }

  &__media {
    display: flex;
    justify-content: center;
    padding: 110px 50px 150px 50px;
  }
}

.dashboard {
  position: relative;
  display: flex;
  width: 85em;
  border-radius: 8px 8px 0 0;
  background: #1F2326;
  font-size: var(--font-size-media);

  &-menu {
    display: flex;
    align-items: center;
    gap: 2.5em;
    padding: 1.5em 3.2em 1.5em 1.5em;

    &__icon {
      width: 10px;
      height: 10px;
    }

    &__title {
      font-size: 1.4em;
      font-weight: 600;
    }
  }

  &-collection {
    font-size: var(--font-size-media);

    &__title {
      padding-left: 1.072em;
      font-size: 1.4em;
      font-weight: 600;
      color: var(--text-color-highlight);
    }

    &__list {
      margin-top: 1.2em;
    }

    &__item {
      display: flex;
      align-items: center;
      gap: 1em;
      padding: 1em 1.25em;
      font-size: 1.2em;

      &--active {
        background: #2B2D2F;
        color: #D5D5D6;
      }
    }

    &__icon {
      display: inline-block;
      width: 1.7em;
      height: 1.7em;
      border-radius: 0.5em;

      &-1 {
        background: #AE8FF9;
      }

      &-2 {
        background: #FF7667;
      }
    }
  }

  &-content {
    background: #0D1012;
    flex: 1;
    margin: 2.5em 1.5em 0 0;
    padding: 2.5em;

    &__header {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &__back {
      margin-left: 11em;
      display: flex;
      align-items: center;
      gap: 0.8em;
      color: var(--text-color-highlight);

      &-icon {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        padding: 0.5em;
        background: #151A1E;
        border-radius: 0.8em;
      }

      &-img {
        width: 1em;
        height: 1em;
      }
    }

    &__group-action {
      display: flex;
      align-items: center;
      gap: 7.5em;
    }

    &__body {
      margin-top: 1em;
    }
  }

  &-task {
    display: flex;
    flex-direction: column;
    margin-right: 2em;

    &__sort {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      font-size: 1.2em;
      gap: 0.75em;
      margin-bottom: 0.75em;
    }

    &__item {
      position: relative;
      background: #14181B;
      padding: 0.8em 1.4em;
      border-radius: 1em;
      margin-bottom: 1em;
      font-weight: 300;
      display: flex;
      align-items: center;
      column-gap: 3.2rem;

      &::before {
        content: "";
        display: inline-block;
        width: 1.5em;
        height: 1.5em;
        border: 1px solid #0CCE84;
        border-radius: 0.4em;
      }

      &::after {
        position: absolute;
        top: 1em;
        left: 2em;
        content: "";
        width: 0.4em;
        height: 0.8em;
        border: 1px solid;
        border-color: transparent #9EA1A7 #9EA1A7 transparent;
        rotate: 45deg;
      }
    }

    &__add {
      position: relative;
      background: #14181B;
      padding: 0.8em 1.4em;
      border-radius: 1em;
      font-weight: 600;
      display: flex;
      align-items: center;
      column-gap: 3.2rem;
      color: var(--text-color-highlight);

      &::before {
        content: "";
        display: inline-block;
        width: 1.5em;
        height: 1.5em;
        background: #0CCE84;
        border-radius: 0.4em;
      }

      &::after {
        position: absolute;
        content: '+';
        font-size: 1.2em;
        top: 0.8em;
        left: 1.5em;
      }
    }
  }

  &-media {
    display: flex;
    flex-direction: column;
    height: 100%;

    &__info {
      margin-bottom: 0.75em;
      font-size: 1.4em;
      color: var(--text-color-highlight);
    }

    &__wrap {
      position: relative;
      padding-top: 100%;
      height: 100%;
      width: 100%;

      &:hover .dashboard-media__footer {
        visibility: visible;
        opacity: 1;
        pointer-events: auto;
      }
    }

    &__video {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 1.7em;
    }

    &__center {
      position: absolute;
      width: 100%;
      height: 50px;
      top: 50%;
      left: 50%;
      translate: -50% -50%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &__center.play>&__play {
      visibility: visible;
    }

    &__center.pause>&__play {
      visibility: hidden;
    }

    &__center.pause:hover>&__pause {
      visibility: visible;
      opacity: 1;
    }

    &__play,
    &__pause {
      position: absolute;
      background: #FFFEFEB5;
      visibility: hidden;
      transition: visibility, opacity 0.4s;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &__footer {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      display: flex;
      flex-direction: column;
      gap: 8px;
      visibility: hidden;
      opacity: 0;
      transition: visibility, opacity 0.2s;
      pointer-events: none;
      background: rgba($color: #000, $alpha: 0.2);
    }

    &__duration {
      position: relative;
      width: 100%;
      height: 3px;
      background: #30302C;

      &--progress,
      &--buffered,
      &--played {
        position: absolute;
        top: 0;
        left: 0;
        height: 3px;
      }

      &--progress {
        position: relative;
        z-index: 10;
        top: -5px;
        width: 100%;
        cursor: pointer;
        background: transparent;
        appearance: none;

        &::-webkit-slider-thumb {
          appearance: none;
          background: var(--linear-primary-bg);
          height: 12px;
          width: 12px;
          border-radius: 50%;
        }
      }

      &--played {
        position: absolute;
        z-index: 1;
        background: var(--linear-primary-bg);
      }

      &--buffered {
        background: #a6a6a6;
        pointer-events: none;
      }
    }

    &__bottom {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 4px;
    }

    &__time {
      height: 100%;
      display: flex;
      align-items: center;
      gap: 4px;
      color: var(--text-color-highlight);
    }

    &__action {
      display: flex;
    }

    &__btn {
      width: 25px;
      height: 25px;
      display: flex;
      align-items: center;
      justify-content: center;

      >img {
        width: 15px;
        height: 15px;
        filter: var(--media-icon-color);
      }
    }

    &__sound {
      position: relative;

      &-line {
        visibility: hidden;
        opacity: 0;
        transition: visibility, opacity 0.4s;
      }

      &-line {
        --sound-line-width-container: 20px;
        --sound-line-width: 2px;
        --sound-line-height: 50px;

        position: absolute;
        display: flex;
        align-items: center;
        z-index: 20;
        top: -20px;
        right: 22px;
        width: var(--sound-line-height);
        height: var(--sound-line-width-container);
        rotate: 90deg;
        transform-origin: bottom right;

        &::after {
          position: absolute;
          z-index: -1;
          content: "";
          width: var(--sound-line-width);
          height: var(--sound-line-height);
          top: 11px;
          right: 0;
          transform-origin: top right;
          rotate: 90deg;
          background: #a6a6a6;
        }

        &--slider {
          position: absolute;
          z-index: 1;
          left: 0;
          bottom: var(--sound-line-width-container);
          writing-mode: vertical-rl;
          height: var(--sound-line-height);
          width: var(--sound-line-width-container);
          rotate: 90deg;
          transform-origin: bottom left;
          cursor: pointer;
          background: transparent;
          appearance: none;

          &::-webkit-slider-thumb {
            appearance: none;
            background: var(--text-color-highlight);
            height: 10px;
            width: 10px;
            border-radius: 50%;
          }

        }

        &--value {
          position: absolute;
          right: 0;
          width: var(--sound-line-height);
          height: var(--sound-line-width);
          background: var(--text-color-highlight);
        }
      }

      &:hover>&-line {
        visibility: visible;
        opacity: 1;
      }
    }

    &__sound-on,
    &__sound-off {
      position: absolute;
      top: 0;
      right: 0;
    }

    &__sound.sound-on>&__sound-off,
    &__sound.sound-off>&__sound-on {
      display: none;
    }

    &__loop.active img {
      filter: var(--media-icon-color-active);
    }

    &__icon {
      width: 16px;
      height: 16px;

      &--play {
        width: 100%;
        padding-left: 2px;
      }

      &--pause {
        width: 100%;
      }
    }
  }

  // Decorators
  &-decorator {
    position: absolute;
    z-index: -1;
    font-size: var(--font-size-media);
    display: block;
    border-radius: 50%;
    box-shadow: 0 40px 30px 0 #313141 inset;

    &--left {
      bottom: -7.4em;
      left: -12.2em;
      width: 9em;
      height: 9em;
      background: linear-gradient(180deg, #111118 6.06%, rgba(43, 43, 61, 0.00) 119.38%);
    }

    &--right {
      bottom: 5em;
      right: -6.5em;
      width: 15.4em;
      height: 15.4em;
      background: linear-gradient(183deg, #8AE764 1.17%, #E99506 115.87%);
    }
  }
}

.collection {
  position: absolute;
  bottom: -15em;
  left: -7.5em;
  width: 22em;
  padding: 2.5em 1.5em;
  border-radius: 1.5em;
  background: #0D1012;

  &__header {
    display: flex;
    justify-content: space-between;
    padding: 0 1em;
  }

  &__title {
    color: var(--text-color-highlight);
    font-size: 1.4em;
    font-weight: 600;
  }

  &-list {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    gap: 0.8em;
  }

  &-item {
    --collection-icon-width: 3.2em;
    --collection-background: #FF7667;
    padding: 1.5em 1.2em;
    border-radius: 1.3em;
    background: #14181B;

    &__info {
      display: flex;
      gap: 1em;
    }

    &__icon {
      width: var(--collection-icon-width);
      height: var(--collection-icon-width);
      border-radius: 1.2em;
      background: var(--collection-background);
    }

    &__name {
      color: var(--text-color-highlight);
      font-size: 1.4em;
      font-weight: 600;
    }

    &__desc {
      margin-top: 0.8em;
    }

    &__progress {
      margin-top: 1.2em;
      display: flex;
      align-items: center;
      gap: 0.8em;

      &--bar {
        position: relative;
        flex: 1;
        height: 0.3em;
        background: #272633;

        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: var(--collection-icon-width);
          height: 0.3em;
          background: var(--collection-background);
        }
      }
    }

    &--1 {
      --collection-background: #FF7667;
    }

    &--2 {
      --collection-background: #AE8FF9;
    }

    &--3 {
      --collection-background: #0CCE84;
    }
  }
}