@use '../abstracts';

.solution {
  margin-top: 140px;

  @include abstracts.screen(md) {
    margin-top: 50px;
  }

  &::after {
    content: "";
    display: block;
    margin: 70px 50px 0;
    border-bottom: 1px solid #282C30;

    @include abstracts.screen(md) {
      margin: 50px 50px 0;
    }
  }

  &__content {
    padding-right: 55px;

    @include abstracts.screen(md) {
      padding: 0;
    }
  }

  &__heading {
    font-size: 4rem;
    font-weight: 600;
    color: var(--text-color-highlight);

    @include abstracts.screen(lg) {
      font-size: 3.6rem;
    }

    @include abstracts.screen(md) {
      font-size: 3rem;
    }

    &-big-picture {
      color: #83E868;

      @supports (background-clip: text) or (-webkit-background-clip: text) {
        color: transparent;
        background: var(--linear-primary-bg);
        background-clip: text;
        -webkit-background-clip: text;
      }
    }
  }

  .card-list {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    gap: 25px;

    @include abstracts.screen(md) {
      margin-top: 30px;
    }
  }

  .card-item {
    padding: 30px 40px;
    border-radius: 15px;
    border: 2px solid #282C30;
    transition: background-color 0.3s;
    cursor: pointer;

    &:hover {
      box-shadow: 0 5px 10px rgba($color: #282C30, $alpha: 0.8);
    }

    &:nth-child(1) .card-item__title::after {
      background: #EF8F00;
    }

    &:nth-child(2) .card-item__title::after {
      background: #0CCE84;
    }

    &:nth-child(3) .card-item__title::after {
      background: #FF7667;
    }

    &--active {
      background: var(--card-item-bg-active);
    }

    &__title {
      display: inline-block;
      color: var(--text-color-highlight);
      font-size: 2.8rem;
      font-weight: 600;

      @include abstracts.screen(lg) {
        font-size: 2.4rem;
      }

      @include abstracts.screen(md) {
        font-size: 2rem;
      }

      @include abstracts.screen(sm) {
        font-size: 1.8rem;
      }

      &::after {
        display: inline-block;
        content: "";
        width: 8px;
        height: 8px;
        border-radius: 50%;
        margin-left: 6px;
      }
    }

    &__desc {
      margin-top: 8px;
      line-height: 150%;

      @include abstracts.screen(lg) {
        font-size: 1.4rem;
      }

      @include abstracts.screen(sm) {
        font-size: 1rem;
      }
    }
  }

  &__media {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    @include abstracts.screen(md) {
      flex-direction: column-reverse;
    }
  }

  &__media-btn {
    margin: 30px 100px 0 0;
    width: 220px;
    height: 70px;
    font-size: 1.8rem;
    font-weight: 600;
    border: 2px solid var(--media-border-btn);
    border-radius: 12px;

    @include abstracts.screen(md) {
      margin: 60px auto auto auto;
      padding: 0 25px;
      width: 160px;
      height: 55px;
      font-size: 1.2rem;
    }
  }

  .media-holder {
    display: grid;
    width: 100%;
  }

  .media-list {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    grid-area: 1 / 1;

    visibility: hidden;
    opacity: 0;

    @include abstracts.screen(xl) {
      margin-top: 170px;
    }

    @include abstracts.screen(lg) {
      margin-top: 120px;
      gap: 40px;
    }

    @include abstracts.screen(md) {
      align-items: center;
    }

    @include abstracts.screen(sm) {
      margin-top: 80px;
      gap: 30px;
    }

    &--active {
      visibility: visible;
      opacity: 1;

      .media-item {
        &--1 {
          transform: translateY(0);
        }

        &--2 {
          transform: translateX(0);
        }

        &--3 {
          transform: translateY(0);
        }
      }
    }
  }

  .media-item {
    position: relative;
    width: 350px;
    height: 270px;
    cursor: pointer;

    transition: transform 0.3s ease-in;

    @include abstracts.screen(xl) {
      width: 300px;
      height: 240px;
    }

    @include abstracts.screen(lg) {
      width: 280px;
      height: 210px;
    }

    &::before,
    &::after {
      position: absolute;
      z-index: -1;
      content: "";
      width: 100%;
      height: 100%;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      padding: 3px;
      border-radius: 30px;
      background-image: linear-gradient(120deg, #A7EF4C, #FF5435, #EF8F00);
      box-sizing: content-box;
    }

    @include abstracts.screen(lg) {
      margin: 0 !important;
    }

    &:hover {
      transform: scale(1.1);
      z-index: 5;
    }

    &:hover::after {
      filter: blur(10px);
      opacity: 0.8;
    }

    &--1 {
      z-index: 1;
      transform: translateY(-50%);
    }

    &--2 {
      z-index: 2;
      margin-top: -100px;
      align-self: flex-end;
      transform: translateX(50%);

      @include abstracts.screen(md) {
        align-self: auto;
      }
    }

    &--3 {
      z-index: 3;
      margin-left: 25px;
      margin-top: -70px;
      transform: translateY(50%);
    }

    &__img {
      width: 100%;
      height: 100%;
      border-radius: 30px;
    }
  }
}