@use '../abstracts';

.stats {
  margin: 140px 0;
  display: flex;
  gap: 20px;

  @include abstracts.screen(lg) {
    flex-direction: column;
    margin: 140px 70px;
    gap: 120px;
  }

  @include abstracts.screen(md) {
    margin: 80px 70px;
  }

  &__content {
    flex: 0.45;
    margin-top: 16px;
  }

  &__heading {
    font-size: 4rem;
    font-weight: 600;
    color: var(--text-color-highlight);

    @include abstracts.screen(xl) {
      font-size: 3.6rem;
    }

    @include abstracts.screen(md) {
      font-size: 3rem;
    }

    &--let {
      color: #83E868;

      @supports (background-clip: text) or (-webkit-background-clip: text) {
        color: transparent;
        background: var(--linear-primary-bg);
        background-clip: text;
        -webkit-background-clip: text;
      }
    }
  }

  &__desc {
    margin-top: 20px;
    line-height: 162.5%;

    @include abstracts.screen(md) {
      margin-top: 10px;
      font-size: 1.2rem;
      font-weight: 400;
      line-height: 183.333%;
    }
  }

  &__list {
    position: relative;
    margin-top: 85px;
    display: flex;
    gap: 16px;
    width: fit-content;

    @include abstracts.screen(lg) {
      width: 100%;
      justify-content: center;
    }

    @include abstracts.screen(md) {
      gap: 70px;
      margin-top: 40px;
    }
  }

  &__dots {
    position: absolute;
    display: flex;
    gap: 4px;
    top: 0;
    left: 50%;
    transform: translateX(-50%);

    @include abstracts.screen(md) {
      display: none;
    }
  }

  &__dot {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    opacity: 0.3;
    background: #F9F9F9;
    cursor: pointer;

    &--active {
      background: #EF8F00;
      cursor: default;
    }
  }

  &__item {
    width: 130px;
    height: 130px;
    border-radius: 10px;
    padding: 20px;
    background: var(--stats-item-bg);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 16px;

    @include abstracts.screen(xl) {
      width: 120px;
      height: 120px;
      padding: 15px;
      gap: 5px;
    }

    @include abstracts.screen(md) {
      width: 100px;
      height: 100px;
      padding: 15px;
    }

    &--among {
      margin-top: 35px;

      @include abstracts.screen(md) {
        margin-top: 50px;
      }
    }

    &--active {
      background: linear-gradient(192deg, #C4F566 -43.72%, #AE8EF9 -5.87%, #EF8F00 52.36%, #61E559 122.78%);

      @include abstracts.screen(md) {
        position: absolute;
        width: 90px;
        height: 90px;
      }

      >.stats__label {
        color: var(--text-color-highlight);
      }
    }
  }

  &__value {
    font-size: 3rem;
    font-weight: 600;
    color: var(--text-color-highlight);

    @include abstracts.screen(md) {
      font-size: 2rem;
    }
  }

  &__label {
    line-height: 162.5%;

    @include abstracts.screen(md) {
      font-size: 1.2rem;
    }
  }

  &__media {
    flex: 0.55;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 1rem;

    @include abstracts.screen(xl) {
      font-size: 0.8rem;
    }

    @include abstracts.screen(lg) {
      justify-content: center;
    }

    @include abstracts.screen(md) {
      font-size: 0.6rem;
    }
  }

  &__diagram {
    position: relative;
    width: 45.5em;
    height: 45.5em;
    margin: 35px 50px;
  }

  &__circle {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 21em;
    height: 21em;
    border-radius: 50%;
    background: #6AEA5C content-box;
    border: 3.5em solid #6AEA5C80;

    &::before,
    &::after {
      position: absolute;
      content: "";
      border-radius: 50%;
      border: 2px dashed var(--stats-circle-border);
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
    }

    &::before {
      width: 33.6em;
      height: 33.6em;
    }

    &::after {
      width: 45.5em;
      height: 45.5em;
    }
  }

  &__rectangle {
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: flex;
    gap: 16px;
    rotate: 12deg;
    transform-origin: top left;

    &--group {
      display: flex;
      flex-direction: column;
      gap: 16px;

      &-side {
        margin-top: 3em;
      }

      &-among {
        margin-top: -3em;
      }
    }

    &--item {
      width: 15em;
      height: 20em;
      background: var(--stats-rectangle-bg);
    }
  }

  &__badge {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 1.8em;
    background: var(--stats-badge-bg);
    height: 5.5em;
    width: 20em;
    border-radius: 5px;

    &-content {
      display: flex;
      align-items: center;
      gap: 15px;

      @include abstracts.screen(md) {
        gap: 5px;
      }
    }

    &--name {
      font-size: 1.4em;
      font-weight: 600;
    }

    &--icon {
      width: 3.2em;
      height: 3.2em;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-shrink: 0;
      background: var(--stats-badge-icon-bg);
    }

    &--img {
      @include abstracts.screen(xl) {
        scale: 0.8;
      }

      @include abstracts.screen(md) {
        scale: 0.6;
      }
    }

    &--1 {
      height: 6.0em;
      width: 22.5em;
      top: 2.5em;
      left: -5.5em;

      img {
        padding-left: 2px;
      }
    }

    &--2 {
      justify-content: space-between;
      width: 23em;
      bottom: 12em;
      left: -10em;
    }

    &--3 {
      top: 2em;
      right: -2em;

      img {
        padding: 0.2em 0.2em 0 0;
      }
    }

    &--4 {
      bottom: 4.5em;
      right: -3.5em;
    }

    &--1 &--name {
      color: #EF8F00;

      @supports (background-clip: text) or (-webkit-background-clip: text) {
        color: transparent;
        background: linear-gradient(90deg, #EF8F00 -33.14%, #FF7667 116.38%);
        background-clip: text;
        -webkit-background-clip: text;
      }
    }

    &--2 &--name {
      color: #C4F566;

      @supports (background-clip: text) or (-webkit-background-clip: text) {
        color: transparent;
        background: linear-gradient(90deg, #C4F566 -33.14%, #FF6E6E 116.38%);
        background-clip: text;
        -webkit-background-clip: text;
      }
    }

    &--3 &--name {
      color: #0CCE84;

      @supports (background-clip: text) or (-webkit-background-clip: text) {
        color: transparent;
        background: linear-gradient(90deg, #0CCE84 -33.14%, #AE8EF9 116.38%);
        background-clip: text;
        -webkit-background-clip: text;
      }
    }

    &--4 &--name {
      color: #C4F566;

      @supports (background-clip: text) or (-webkit-background-clip: text) {
        color: transparent;
        background: linear-gradient(90deg, #C4F566 -33.14%, #FF6E6E 116.38%);
        background-clip: text;
        -webkit-background-clip: text;
      }
    }

    &--avatar-group {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &--user {
      position: relative;
      z-index: 1;
      width: 3.2em;
      height: 3.2em;

      &::after {
        position: absolute;
        content: "";
        inset: -1px;
        z-index: -1;
        border-radius: 50%;
        opacity: 0.6;
      }

      &--1 {
        margin-right: -1.2em;
      }

      &--1::after {
        background-image: linear-gradient(90deg, #C531F9, #DD406FC7 78.14%, #787878 0%);
      }

      &--2::after {
        background-image: linear-gradient(90deg, #6AEA5C, #DB7D60 86.48%, #787878 0%);
      }
    }

    &--avatar {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      background-color: #191a28;
      background-clip: padding-box;
    }
  }
}